/*****************
COMMAND
*****************/

* {  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", serif;
    font-weight: 400;
    font-style: normal;
} 

.d-flex{
    display:flex;
}

.col{
    flex-direction: column; 
}

.p-fixed{
    position:fixed;
}

.a-li{
    text-decoration:none;
    color: #000000;
}

.mx-20{
    margin:0 20px;
}

.mx-auto{
    margin:0 auto;
}

.mt-40{
    margin-top:40px;
}

.btn{
    border:1px solid #0061FE;
    background-color: #0061FE;
    color:#FFFFFF;
    align-self:center;
    padding: 11px 18px;
    font-size:16px;
    pointer:cursor;
}

.btn:hover{
    filter: brightness(1.4);
}

.p-relative{
    position:relative;
}

.d-inline-block{
    display:inline-block;
}

.bg-blu{
    background-color:#0363FF;
    border: 1px solid #0363FF;
}

.d-block{
    display:block;
}

.fs-24{
    font-size:24px;
}

.bold{
    font-weight:bold;
}

.fs-12{
    font-size:12px;
}

.fs-20{
    font-size:20px;
}

.text-gray{
    color:#7080B1;
}

.text-white{
    color:#FFFFFF;
}

.p-relative{
    position:relative;
    top:50px;
}

.w-50{
    width:50px;
}

/*****************
INTESTAZIONE DELLA PAGINA
*****************/

header{
    width:100%;
    background-color:#FFFFFF;
    justify-content:space-between;
    align-items:center;
    box-shadow:0px 1px 4px 1px #D1DAE1;
    z-index:4;
    padding:0 10px;
}

header .header-left .a-logo{
    align-self:center;
}

header ul{
    list-style-type:none;

}

header ul > li{
    padding:30px 0;
}

header ul > li:hover{
    border-bottom: 1px solid #000000;
}


/*****************
CORPO DELLA PAGINA
*****************/
main{
    padding-top:80px;
}
/*****************
PRIMA SEZIONE 
*****************/

main .sez-1{
    padding-top:105px;
    margin-bottom:130px;
    width:100%;
    background-color:#B5D0E6;
}

main .sez-1 .sotto-sez-1, h1{
    max-width:70%;
}

h1{
    font-size:65px;
    line-height:80px;
    font-weight:bold;
}

main .sez-1 .sotto-sez-1 .sez-1-left{
    justify-content:space-between;
    align-items:flex-start;
}

#left{
    align-self:flex-start;
}

main .sez-1 .sotto-sez-1 .sez-1-left .fa-solid{
    font-size:40px;
}

main .sez-1 .sotto-sez-1 .sez-1-right img{
    max-width:100%;
    height:130%;
}

/*****************
SECONDA SEZIONE 
*****************/
main .container{
    padding:60px 0 220px;
}

main .container.bt{
    border-top: 1px solid #D1DAE1;
}

main .sez-2{
    max-width:60%;
}

main .sez-2 h2{
    font-size:40px;
    font-weight:bold;
}

main .sez-2 .radio{
    margin:70px 0 50px;
}

main .sez-2 .radio .circle{
    width:20px;
    height:20px;
    border-radius:50%;
    justify-content:center;
    align-items:center;
    margin-right:4px;
}

main .sez-2 .radio .circle-small{
    background-color:#FFFFFF;
    border-radius:50%;
    width:10px;
    height:10px;
}

main .sez-2 .radio .border-circle{
    border:1px solid #D0CFD4;
}

main .sez-2 .radio span{
    margin-right:50px;
}

main .sez-2 .card-container{
    gap:50px;
    width:100%;
    flex-wrap:wrap;
}

main .sez-2 .card-container .card{
    width: calc((100% - 100px)/3);
    height:1050px;
    border:1px solid #D0CFD4;
}

main .sez-2 .card-container .card > span{
    text-align:center;
    border: 1px solid #D0CFD4;
    padding:14px 0;
}

main .sez-2 .card-container .card .desc-card{
    padding:15px 32px;
}

main .sez-2 .card-container .card .desc-card, .vantagi-card, .type-card, .altri-vantagi-card, .more-info{
    gap:25px;
}

.fa-check{
    color:#0162FF;
}

main .sez-2 .card-container .card .desc-card li{
    position:relative;
    right:20px;
}

main .sez-2 .card-container .card-special{
    width:100%;
    border: 1px solid #D0CFD4;
} 

main .sez-2 .card-container .card-special > span{
    text-align:center;
    border: 1px solid #D0CFD4;
    padding:14px 0;
}

main .sez-2 .card-container .card-special .desc-card{
    padding:15px 32px;
    position:relative
}

main .sez-2 .card-container .card-special .desc-card button{
    position:absolute;
    top:15px;
    right:32px;
}


/*****************
TERZA SEZIONE 
*****************/

main .sez-3{
    width:60%;
}

main .sez-3 .first-item{
    width:60%;
}

main .sez-3 .first-item .images{
    width:100%;
}

main .sez-3 .second-item{
    margin-left:50px;
    width:40%;
}

main .sez-3 .second-item h3{
    margin-top:50px;
}

main .sez-3 .second-item p{
    margin-top:20px;
    line-height:24px;
}

main .sez-3 .second-item .alt-btn{
    align-self:flex-start;
    color:#7080B1;
    border:1px solid #000000;
    background-color:#FFFFFF;
    margin-top:30px;
}


/*****************
QUARTA SEZIONE 
*****************/
main .container3{
    padding-top:160px;
}

main .container3 h3{
    max-width:60%;
    padding-bottom:40px;
}

main .container3 .sez-4 {
    width:60%;
    gap:40px;
    flex-wrap:wrap;
}

main .container3 .sez-4 .card{
    width:calc((100% - 80px)/3);
    justify-content: space-between;
    height:450px;
}

main .container3 .sez-4 .card img{
    width:100%;
}

/*****************
QUINTA SEZIONE 
*****************/

main .container4{
    padding:200px 0;
}

main .container4 .sez-5{
    width:60%;
}

main .container4 .sez-5 a{
    padding-top:65px;
}