/*****************
COMMAND
*****************/

* {  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", serif;
    font-weight: 400;
    font-style: normal;
} 

.d-flex{
    display:flex;
}

.col{
    flex-direction: column; 
}

.p-fixed{
    position:fixed;
}

a{
    text-decoration:none;
    color: #000000;
}

.mx-20{
    margin:0 20px;
}

.mx-auto{
    margin:0 auto;
}

.mt-40{
    margin-top:40px;
}

.btn{
    border:1px solid #0061FE;
    background-color: #0061FE;
    color:#FFFFFF;
    align-self:center;
    padding: 11px 18px;
    font-size:16px;
    pointer:cursor;
}

.btn:hover{
    background-color: #0040FE;
}

.p-relative{
    position:relative;
}

/*****************
INTESTAZIONE DELLA PAGINA
*****************/

header{
    width:100%;
    background-color:#FFFFFF;
    justify-content:space-between;
    align-items:center;
    border-bottom:1px solid #D1DAE1;
    z-index:4;
    padding:0 10px;
}

header .header-left .a-logo{
    align-self:center;
}

header ul{
    list-style-type:none;

}

header ul > li{
    padding:30px 0;
}

header ul > li:hover{
    border-bottom: 1px solid #000000;
}


/*****************
CORPO DELLA PAGINA
*****************/
main{
    padding-top:80px;
}
/*****************
PRIMA SEZIONE 
*****************/

main .sez-1{
    padding-top:105px;
    margin-bottom:130px;
    width:100%;
    background-color:#B5D0E6;
}

main .sez-1 .sotto-sez-1, h1{
    max-width:70%;
}

h1{
    font-size:65px;
    line-height:80px;
    font-weight:bold;
}

main .sez-1 .sotto-sez-1 .sez-1-left{
    flex-grow:1;
    justify-content:space-between;
    align-items:flex-start;
}

#left{
    align-self:flex-start;
}

main .sez-1 .sotto-sez-1 .sez-1-left .fa-solid{
    font-size:40px;
}

main .sez-1 .sotto-sez-1 .sez-1-right{
    flex-grow:2;
}

main .sez-1 .sotto-sez-1 .sez-1-right img{
    max-width:100%;
    height:130%;
}

